/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>

/ {
	mipi_dbi_ssd1327 {
		compatible = "zephyr,mipi-dbi-spi";
		spi-dev = <&spi3>;

		#address-cells = <1>;
        #size-cells = <0>;

		dc-gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;

		oled: ssd1327@0 {
            compatible = "solomon,ssd1327";
            reg = <0>;
            mipi-max-frequency = <10000000>;
            
            width = <128>;
            height = <96>;
            display-offset = <0>;
            multiplex-ratio = <95>;
			prechargep = <0x5>;
			oscillator-freq = <0x0>;
			start-line = <0>;
			remap-value = <0x53>;
			phase-length = <0x1f>;
			mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";
        };
	};
};

&spi3 {
	status = "okay";
	cs-gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;
};

&i2c0 {
	status = "okay";

	bme280@77 {
		compatible = "bosch,bme280";
		reg = <0x77>;
	};
};
